
            <h1> them diem  </h1>
            <form action='/diem/createpost' method="POST" >
                <input type='text' name='mssv' placeholder="MSSV">
                <input type='text' name='mmh' placeholder="Ma mon hoc">
                <input type='text' name='dqt' placeholder='Diem qua trinh'>
                <input type='text' name='dt' placeholder="Diem thi">
                <input type='submit' value='Create'>
            </form>
            <input type="button" value="xem diem" onclick="lick()">
        
	<script type='text/javascript'>
		
		function lick(){
			window.location="http://localhost:3000/diem/show";
		}
	</script>
