
<h1>Tim kiem</h1>
<form action='/diem/searchpost' method='POST'>
<input type='text' name='timkiem' placeholder='Nhap Ma So Sinh Vien'>
<input type='submit' value='tim kiem'>
</form>
<h2>thong tin</h2>
<table>
    <thead>
        <tr>
            <th>MSSV</th>
            <th>MaMH</th>
            <th>DTQ</th>
            <th>DT</th>
            <th>DTB 10</th>
            <th>DTB 4</th>
        </tr>
    </thead>
    <tbody>
        
        <%= typeof user !=='undefined' ? user:''%>
        
        
           
    </tbody>

